body {
    margin: 0;
    padding: 0;
}

container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.choose-symbol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.choose-symbol input:first-child {
    padding: 1rem;
}

.choose-symbol input[type="radio"] {
    display: none;
}

.choose-symbol label {
    display: block;
    text-align: center;
    width: 5rem;
    border: 1px solid #000;
    line-height: 500%;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    transition: all .5s ease;
}

.choose-symbol #X+label {
    background-color: aqua;
}

.choose-symbol #O+label {
    background-color: rgb(47, 0, 255);
}

.choose-symbol #U+label {
    background-color: rgb(255, 0, 140);
}

.choose-symbol input[type="radio"]:checked+label {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);
    scale: 1.02;
}

grid {
    flex: 0 1 500px;
    width: 500px;
    height: min(100vh, 500px);
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.grille {
    border: none;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    position: relative;
}

.enabled::after {
    content: '';
    background-color: rgba(0, 136, 255, 0.26);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .2s ease;

}

.enabled:hover::after {
    opacity: 1;
}


.X {
    background-color: rgb(128, 129, 60);
    position: relative;
}

.X::after {
    position: absolute;
    top: 0;
    left: 0;
    content: 'X';
    opacity: 1;
}

.O {
    background-color: rgb(37, 216, 192);
    position: relative;
}

.O::after {
    position: absolute;
    top: 0;
    left: 0;
    content: 'O';
    opacity: 1;
}

.U {
    background-color: rgb(213, 216, 37);
    position: relative;
}

.U::after {
    position: absolute;
    top: 0;
    left: 0;
    content: 'U';
    opacity: 1;
}