@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
    font-family: 'Readex Pro', 'Arial', sans-serif;
    font-size: clamp(1.1rem, 1.8vw, 1.5rem);
    box-sizing: content-box;
}

:root {
    --base-color: #f1f3f7;
    --text-color: #3b3f44;
    --supp-color: #fffffe;
    --acce-color: #EEC643;
    --acc2-color: #2FBF71;
    --acc3-color: #6290C3;

    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--base-color);

}

container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--base-color);

}

.choose-symbol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--supp-color);
    box-shadow: 0 0 100px hsla(0, 0%, 0%, 0.1);

}

.choose-symbol>legend {
    display: none;
}



.choose-symbol input:first-child {
    padding: 1rem;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 1rem;
    font-size: 1.25rem;

}

.choose-symbol input[type="radio"] {
    display: none;
}

.choose-symbol label {
    display: block;
    text-align: center;
    width: 5rem;
    line-height: 500%;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    border: none;
    border-radius: 1rem;
}

.choose-symbol #X+label {
    background-color: var(--acce-color);
    background-image: url(./Remove_font_awesome.svg);
    color: rgba(255, 255, 255, 0)
}

.choose-symbol #O+label {
    background-color: var(--acc2-color);
    background-image: url(./circle.svg);
    color: rgba(255, 255, 255, 0)
}

.choose-symbol #U+label {
    background-color: var(--acc3-color);
}

.choose-symbol input[type="radio"]:checked+label {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    scale: 1.02;
}

grid {
    flex: 0 1 500px;
    width: 500px;
    height: min(100vh, 500px);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    background-color: var(--supp-color);
    border-radius: 2rem;
    box-shadow: 0 0 100px hsla(0, 0%, 0%, 0.1);
    opacity: 1;
}

.grille {
    border: none;
    background-color: var(--base-color);
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
}

.enabled::after {
    content: '';
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .2s ease;
    border-radius: 1rem;
    ;
}


.enabled:hover::after {
    background-color: hsla(0, 0%, 100%, 0.5);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    opacity: 1;
}


.X {
    background-color: var(--acce-color);
    position: relative;
}

.X::after {
    position: absolute;
    top: 0;
    left: 0;
    content: url(./Remove_font_awesome.svg);
    opacity: 1;
}

.O {
    background-color: var(--acc2-color);
    position: relative;
}

.O::after {
    position: absolute;
    top: 0;
    left: 0;
    content: url(./circle.svg);
    opacity: 1;
}

.winner {
    opacity: 0;
    position: absolute;
    padding: 2rem;
    background-color: var(--supp-color);
    font-size: 3rem;
    font-weight: 500;
    box-shadow: 0 0 800px hsla(0, 0%, 0%, 0.3);
    border-radius: 2rem;
    z-index: -1;

}

.winner.visable {
    opacity: 1;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}